@media (max-width: 800px ){
    h1{
        font-size: 20px;
    }

    h2{
        font-size: 16px;
    }

    p{
        font-size: 14px;
    }

    button{
        width: 70px;
        font-size: 12px;
        height: 50px;
    }
    
}